<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.extcord.jg3215.mailbot">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        
        <activity
            android:name=".collection_mode.MainActivity_Collection"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".collection_mode.DetailsActivity_Collection"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".collection_mode.MainActivity_Collection"/>
        </activity>

        <activity
            android:name=".collection_mode.LockerActivity_Collection"
            android:screenOrientation="landscape">
            <meta-data
                android:value="android.support.PARENT_ACTIVITY"
                android:name=".CollectionMode.MainActivity_Collection1"/>
        </activity>

        <activity
            android:name=".collection_mode.EndActivity_Collection"
            android:screenOrientation="landscape">
            <meta-data
                android:value="android.support.PARENT_ACTIVITY"
                android:name=".CollectionMode.MainActivity_Collection1"/>
        </activity>

        <activity
            android:name=".delivery_mode.EnRouteActivity_Delivery"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".collection_mode.MainActivity_Collection"/>
        </activity>

        <activity
            android:name=".delivery_mode.PasswordActivity_Delivery"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery_mode.EnRouteActivity_Delivery"/>
        </activity>

        <activity
            android:name=".delivery_mode.OpenLockerActivity_Delivery"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery_mode.EnRouteActivity_Delivery"/>
        </activity>

        <activity
            android:name=".delivery_mode.UnsuccessfulActivity_Delivery"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".delivery_mode.EnRouteActivity_Delivery"/>
        </activity>
    </application>
</manifest>