<launch>
	<!-- This is the ultimate launch file  -->

	<!--  Boot up robot sensors -->
	<include file="$(find mailbot)/launch/boot.launch"/>

	<!-- Delay the start of the move_base (requires map)  -->
	<include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
		<arg name="time" value="35" /> <!-- in seconds -->
		<arg name="pkg" value="mailbot" />
		<arg name="file" value="move_base.launch" />
		<arg name="value" value="" />
	</include>

	<!-- Boot up Kinect -->
	<include file="$(find mailbot)/launch/kinectBoot.launch"/>

	<!-- Start the Navigation -->
	<include file="$(find mailbot)/launch/nav.launch"/>

	<!--  delayed move base should start now -->

	<!--  Start the bluetooth -->
	<!-- <include file="$(find mailbot)/launch/btApp.launch"/> -->

	<!-- Start Goal Solver & Senderss -->
	<node pkg="mailbot" type="tspSolver.py" name="tspSolver"/>
	<node pkg="mailbot" type="locationQueueMoveBase.py" name="locationQMoveBase"/>

</launch>
