<launch>

	<include file="$(find mailbot)/launch/boot.launch"/>
	<include file="$(find mailbot)/launch/kinectBoot.launch"/>

	<!-- <node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan"> -->
		<!-- <remap from="image" to="camera/depth/image_raw"/>
		<remap from="scan" to="depth_scan"/>
		<param name="output_frame_id" value="camera_depth_frame" />
		<param name="range_min" value="0.45" /> -->
	<!-- </node> -->



	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"  name="pointcloud_to_laserscan" args="cloud_in:=/RosAria/sonar_pointcloud2" />

 <!-- map_server map_server map.yaml -->
	<node pkg="map_server" type="map_server"  name="map_serverX" args="$(find mailbot)/maps/map.yaml" />

</launch>
