
<launch>
<!-- Convenience launch file to launch odometry, rtabmap and rtabmapviz nodes at once -->

  <!-- Fake LaserScan data (using kinect ) ? -->
  <arg name="fakeLasers"              default="true" />

  <!-- RTABMAPPING LOCALIZATION -->
    <!-- Allow visualization -->
    <arg name="rtabmapviz"              default="true" />
    <arg name="rviz"                    default="false" />
    <!-- Localization-only mode -->
    <arg name="localization"            default="true"/>
    <!-- Corresponding config files -->
    <arg name="gui_cfg"                 default="~/.ros/rtabmap_gui.ini" />
    <arg name="rviz_cfg"                default="$(find rtabmap_ros)/launch/config/rgbd.rviz" />

    <!--   Where stores & loads database (e.g. map)-->
    <!-- <arg name="database_path"           default="~/.ros/rtabmap.db"/>  -->
    <arg name="database_path"           default="~/MailBot-Maps/11-12-18v2/rtabmap.db"/>

    <include file="$(find mailbot)/launch/rtabmap_mailbot.launch">
      <!-- We now can pass in the values that are set above into the launch file -->

      <arg name="fakeLasers"              value="$(arg fakeLasers)"/>
      <arg name="localization"            value="$(arg localization)"/>
      <!-- Allow visualization -->
      <arg name="rtabmapviz"              value="$(arg rtabmapviz)" />
      <arg name="rviz"                    value="$(arg rviz)" />
      <arg name="database_path"           value="$(arg database_path)" />


      <!-- If we mapping we want different values -->
      <arg name="range_max" type="double" default="10"/>
      <arg name="range_min" type="double" default="0.15"/>
      <arg name="inf_is_valid" type="double" default="true"/>
    </include>


</launch>
